.bottom_parent {
    position: relative;
    height: 100px;
    /*left: 100px;*/
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}